@use './../mixins' as *;

.title {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #000;

  @include sm {
    font-size: 26px;
  }
  &-box {
    width: 100%;

    margin-bottom: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
.color--accent {
  color: var(--accent);
}
