@use './../mixins' as *;

.hero {
  padding: 40px 0 50px;
  margin: 0;

  background: #f4f4f4;
  @include md {
    padding: 40px 0;
  }
  &__inner {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
    @include md {
      flex-direction: column-reverse;
      gap: 50px;
    }
  }
  &__sidebar {
    max-width: 310px;
    width: 100%;
    @include md {
      max-width: 100%;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    align-items: start;
    gap: 20px;
    @include lg {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    @include sm {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }
  }
  &__content-more {
    max-width: 310px;
    width: 100%;
    height: 40px;
    padding: 10px 20px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid #000;

    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
  }
  .news-item {
    @include lg {
      &:nth-child(n + 6) {
        display: none;
      }
    }
    @include sm {
      &:nth-child(n + 4) {
        display: none;
      }
    }
    .news-item__info {
    }
  }
  .news-item:first-child {
    grid-column: span 2;
    // max-width: 640px;
    // aspect-ratio: 640/338;
    @include sm {
      grid-column: span 1;
    }
    &::before {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      background: #000000;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
      @include sm {
        display: none;
      }
    }
    .news-item__image-box {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      aspect-ratio: unset;
      @include sm {
        position: static;
      }
    }
    .news-item__info {
      justify-content: flex-end;

      position: relative;
      z-index: 2;
      @include xl {
        padding: 10px 10px 15px;
      }
      @include lg {
        padding: 15px 20px 20px;
      }
      @include sm {
        justify-content: space-between;
      }
      @include esm {
        padding: 10px 10px 15px;
      }
    }
    .news-item__title {
      font-size: 30px;
      color: #fff;
      @include xl {
        font-size: 20px;
      }
      @include sm {
        font-size: 16px;
        color: #000;
      }
    }
    .news-item__date {
      color: #fff;
      @include sm {
        color: var(--gray);
      }
    }
  }
}

.hero__sidebar {
  .sidebar-news {
    background: #fff;
    &__header {
      width: 100%;
      padding: 30px 20px 20px 20px;
    }
    &__title {
      width: 100%;
      margin-bottom: 35px;
    }
    &__list {
      padding: 0 20px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 20px;
    }
    &__item {
      padding-bottom: 20px;

      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px 20px;

      position: relative;

      &:not(:last-child) {
        &::after {
          content: '';
          width: 100%;
          height: 1px;

          position: absolute;
          top: 100%;
          left: 0;
          z-index: 0;

          background-color: #ebebeb;
        }
        &::before {
          content: '';
          width: 30px;
          height: 1px;

          position: absolute;
          top: 100%;
          left: 0;
          z-index: 1;

          background-color: var(--gray);
        }
      }
    }
    &__item-date {
      font-weight: 500;
      font-size: 14px;
      line-height: 100%;
      color: var(--gray);
    }
    &__item-category {
      width: 30%;

      display: inline-block;

      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      color: #e41f24;
      @include md {
        width: fit-content;
      }
    }
    &__item-tag {
      width: fit-content;
      padding: 6px;

      display: inline-block;

      background: #000;

      font-weight: 700;
      font-size: 10px;
      line-height: 100%;
      text-transform: uppercase;
      color: #fff;
    }
    &__item-title {
      font-weight: 500;
      font-size: 14px;
      line-height: 128%; //130
      color: #333;

      transition: all 0.2s ease;

      &:hover {
        color: var(--accent);
        // font-weight: 700;
      }
    }
    &__more {
      width: 100%;
      height: 40px;
      padding: 12px 20px;

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20px;

      background: #000;

      font-weight: 700;
      font-size: 12px;
      line-height: 100%;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: #fff;
    }
  }
}
