@use './../mixins' as *;

.header {
  padding: 20px 0;
  background-color: var(--page-bg);
  color: var(--white);
  z-index: 90;

  @include md {
    padding: 10px 0;
  }
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    @include md {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      .logo {
        order: -1;
        margin: 0;
      }
    }
  }
  &__nav {
  }
  @include md {
    .socials {
      display: none;
    }
  }
}
