:root {
  --font-family: "Montserrat", sans-serif;
  --second-family: "Merriweather", sans-serif;

  --container-width: 1300px;
  --container-padding: 15px;

  --black: #000;
  --white: #fff;
  --gray: #969696;

  --accent: #e41f24;
  --accent-light: #fff4f4;

  --page-bg: #fff;
}